.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}
.main {
  height: 200px;
  width: 200px;
  box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.wrpImg {
  position: relative;
  width: 220px;
  margin: 0 auto;
}

.nightTheme {
  background-color: #2d2d31;
  color: white;
}
